*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.pt
*.onnx
*.tflite
yolo11n_saved_model
yolov8n_saved_model
test_images
*.png
*.jpg
scripts
